.main-button {
    margin-top: 2rem;
    padding: 0.6rem 1rem;
    background: #20212C;
    color: #f8f8f8;
    cursor: pointer;
    border: 1px solid #f8f8f8;
    border-radius: 8px;
    font-weight: bold;
}